@font-face {
  font-family: 'Montserrat_Bold';
  src: url('../assets/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat_Regular';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}
body {
  margin: 0;
  font-family: 'Montserrat_Bold';
}
body a {
  all: unset;
  cursor: pointer;
}
body p {
  all: unset;
}
body button {
  all: unset;
  cursor: pointer;
}
body .cta-button {
  background-color: #50B6B2;
  padding: 1.2rem 2rem;
  border-radius: 2rem;
  color: #FFFFFF;
  font-family: museo-sans, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-container {
  background: #004542;
  display: flex;
  padding: 4rem;
  align-items: center;
  justify-content: space-evenly;
}
.header-container__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.header-container__logo--img {
  width: 28rem;
  max-width: 80vw;
}
.header-container__logo--subtitle {
  max-width: 50rem;
  font-size: 4.5rem;
  -webkit-text-stroke: 2px white;
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px 20px #E7AF00;
}
.header-container__logo--flake {
  position: absolute;
  bottom: -30%;
  right: -10%;
}
.header-container__logo--gift {
  position: absolute;
  bottom: -30%;
  left: 0;
}
.header-container__logo--button {
  text-transform: uppercase;
  position: relative;
}
.header-container__logo--button--icon {
  padding-right: 1rem;
}
.header-container__media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.header-container__media--image {
  width: 40vw;
  height: 40vw;
  max-width: 41rem;
  max-height: 41rem;
}
.header-container__media--pastille {
  position: absolute;
  top: 0;
  left: -5%;
  width: 27%;
  max-width: 25vw;
}
@media screen and (max-width: 900px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  .header-container__logo--flake {
    bottom: -50%;
    right: 0;
  }
  .header-container__logo--gift {
    display: none;
  }
  .header-container__logo--subtitle {
    font-size: 3rem;
  }
  .header-container__logo .cta-button {
    padding: 0.5rem;
    font-size: 0.9rem;
    width: 80vw;
  }
  .header-container__logo .cta-button .header-container__logo--button--icon {
    width: 1.5rem;
    padding: 0.3rem;
  }
  .header-container__media--image {
    width: 100vw;
    height: 100vw;
    margin-top: 2rem;
  }
  .header-container__media--pastille {
    top: 70%;
    left: 70%;
  }
}
.product-container {
  margin: 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.product-container__carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-container__carousel .slider {
  width: 20rem;
  height: 20rem;
}
.product-container__carousel .slider .small-product1 {
  background: url('../assets/products/Bouteille_iso_01.png') no-repeat center;
}
.product-container__carousel .slider .small-product2 {
  background: url('../assets/products/Bouteille_iso_02.png') no-repeat center;
}
.product-container__carousel .slider .small-product3 {
  background: url('../assets/products/Bouteille_iso_03.png') no-repeat center;
}
.product-container__carousel .slider .small-product4 {
  background: url('../assets/products/Bouteille_iso_04.png') no-repeat center;
}
.product-container__carousel .slider .big-product1 {
  background: url('../assets/products/Fauteuil_Patchwork-Clr.png') no-repeat center;
}
.product-container__carousel .slider .big-product2 {
  background: url('../assets/products/Fauteuil_Patchwork-Blc.png') no-repeat center;
}
.product-container__carousel .slider .single-item {
  width: 100%;
  height: 20rem;
  background-size: contain;
  background-color: #F5F5F5;
}
.product-container__carousel .slider .slick-arrow::before {
  content: '';
  background: url('../assets/products/arrow.png') no-repeat center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 75%;
  left: 0;
  transform: translateY(-50%);
}
.product-container__carousel .slider .slick-prev {
  transform: rotate(180deg);
}
.product-container__carousel .slider .slick-dots li button::before {
  font-size: 15px;
  color: #50B6B2;
}
.product-container__carousel .neon-icon {
  position: absolute;
  z-index: 2;
  right: -4rem;
}
.product-container__carousel__icon--blue {
  top: -4rem;
}
.product-container__carousel__icon--yellow {
  bottom: -2rem;
}
.product-container__carousel__img {
  background-color: #F5F5F5;
  padding: 1rem;
  max-width: 80vw;
}
.product-container__carousel__title {
  font-weight: bold;
  margin: 1rem 0;
}
.product-container__carousel__price {
  position: absolute;
  top: 0;
  left: -4rem;
  padding: 0 1rem 0.5rem 1rem;
  background-color: #004542;
  border-bottom: 10px solid #00232F;
  -webkit-text-stroke: 2px white;
  text-align: center;
  color: transparent;
  text-shadow: 0px 0px 20px #E7AF00;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.product-container__carousel__price .price {
  text-align: end;
  font-size: 6rem;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
.product-container__carousel__price .euros {
  text-align: start;
  font-size: 3rem;
  grid-row: 1;
  grid-column: 3;
}
.product-container__carousel__price .cents {
  font-size: 2rem;
  grid-row: 2;
  grid-column: 3;
}
.product-container__carousel .less-than-ten {
  background-color: #50B6B2;
  grid-template-columns: repeat(1, 1fr);
}
.product-container__carousel .less-than-ten .price {
  grid-column: 1 / span 1;
}
@media screen and (max-width: 1000px) {
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-container__carousel {
    max-width: 70vw;
    margin-bottom: 1rem;
  }
  .product-container__carousel .slick-arrow.slick-next {
    right: 0;
  }
  .product-container__carousel .slick-arrow.slick-next::before {
    left: -30px;
  }
  .product-container__carousel .slick-arrow.slick-prev {
    z-index: 2;
  }
  .product-container__carousel .slick-arrow.slick-prev::before {
    left: -50px;
    position: absolute;
  }
  .product-container__carousel .neon-icon {
    right: -3rem;
  }
  .product-container__carousel__price {
    left: -1rem;
    top: 0;
    padding: 0.5rem 0.5rem;
  }
}
.searchbar-container {
  padding: 3rem;
  background-color: #004542;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar-container__title {
  font-size: 2.5rem;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 20px #50B6B2;
}
.searchbar-container__inputs {
  background: white;
  padding: 3rem 8rem;
  width: 77rem;
  max-width: 70vw;
  border-radius: 5px;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.searchbar-container__inputs--icon-gift {
  position: absolute;
  top: -6rem;
  left: -6rem;
}
.searchbar-container__inputs--icon-star {
  position: absolute;
  bottom: -6rem;
  right: 0;
}
.searchbar-container__inputs--search {
  display: flex;
  flex: 1;
  position: relative;
  margin-right: 1.5rem;
}
.searchbar-container__inputs--search--input {
  flex: 1;
  height: 4.2rem;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}
.searchbar-container__inputs--search--button {
  position: absolute;
  right: 0;
  border-radius: 5px;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-container__inputs--search--button img {
  width: 60%;
}
.searchbar-container__inputs--search--button {
  background-color: black;
}
.searchbar-container__inputs--geoloc {
  display: flex;
  flex: 1;
  position: relative;
  margin-right: 1.5rem;
}
.searchbar-container__inputs--geoloc--input {
  flex: 1;
  height: 4.2rem;
  padding-left: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}
.searchbar-container__inputs--geoloc--button {
  position: absolute;
  right: 0;
  border-radius: 5px;
  height: 4.5rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar-container__inputs--geoloc--button img {
  width: 60%;
}
.searchbar-container__inputs--geoloc--input {
  border: 1px solid #50B6B2;
}
.searchbar-container__inputs--geoloc--input::placeholder {
  color: #50B6B2;
}
.searchbar-container__inputs--geoloc--button {
  background-color: #50B6B2;
}
.searchbar-container__results {
  margin-top: 2rem;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  height: 3rem;
  border-radius: 10px;
  font-weight: 700;
}
.searchbar-container .display-results {
  display: flex;
}
@media screen and (max-width: 900px) {
  .searchbar-container__title {
    font-size: 2rem;
  }
  .searchbar-container__inputs {
    padding: 1rem 2rem;
    width: 100%;
    flex-direction: column;
  }
  .searchbar-container__inputs--search {
    width: 100%;
  }
  .searchbar-container__inputs--search--input {
    padding-left: 0.5rem;
  }
  .searchbar-container__inputs--geoloc {
    width: 100%;
    margin-top: 1rem;
  }
  .searchbar-container__inputs--geoloc--input {
    padding-left: 0.5rem;
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-container__logo {
  max-width: 80vw;
  margin: 4rem;
}
.footer-container__about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
}
.footer-container__about-us--title {
  text-transform: uppercase;
  color: #434343;
  font-size: 2.2rem;
}
.footer-container__about-us--button {
  margin-bottom: 2rem;
}
.footer-container__about-us--text {
  font-family: 'Montserrat_Regular';
  color: #434343;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer-container__about-us--social-media {
  margin-bottom: 3rem;
}
.footer-container__about-us--social-media img {
  padding: 0 0.5rem;
}
