// Import all the section styles
@import 'products';
@import 'header';
@import 'searchbar';
@import 'footer';

// Colors
@white: #FFFFFF;
@yellow: #E7AF00;
@dark-blue: #00232F;
@dark-green: #004542;
@light-green: #50B6B2;
@light-grey: #F5F5F5;
@dark-grey: #434343;

// issue with the imported font overlapping
// https://github.com/google/fonts/issues/4212
@font-face {
    font-family: 'Montserrat_Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat_Regular';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

// Global
body {
    margin: 0;
    font-family: 'Montserrat_Bold';

    // Plus rapide que de charger un fichier de reset CSS (Meyer/ Alsa...)
    a { all: unset; cursor: pointer;}
    p { all: unset; }
    button { all: unset; cursor: pointer; }

    .cta-button {
        background-color: @light-green;
        padding: 1.2rem 2rem;
        border-radius: 2rem;
        color: @white;
        font-family: museo-sans, sans-serif;
        font-weight: 700;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
